body {
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: #ffff;
  font-size: 20px;
  background-color: rgb(224, 210, 4);
}
